// Reusable snippet for buttons
@mixin button($boxShadowColor: gray) {
    color: $bodyBgColor;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: all .3s;
    border-radius: 7px;
    padding: .7em 3em;
    background-color: #4366ff;
    box-shadow: 0 0 1px rgba($boxShadowColor, .2);
}