/* mobile devices*/
@mixin navbarPhone() {
	.navbar {	
		position: relative;
		padding: 0 7em;
		
		.menu {
			ul {
				display: unset;
				height: 100vh;
				width: 0;
				z-index: -10;
				top: 0;
				right: 0;
				position: absolute;
				background-color: azure;
				overflow-x: hidden;
				transition: 0.5s;
				padding-top: 60px;
		
				a  {
					padding: 8px 8px 8px 32px;
					text-decoration: none;
					font-size: 1rem;
					color: #818181;
					display: block;
					transition: 0.3s;

					&:hover {
						color: $bodyTxtColor;
					} 
					&:hover::after {
						width: 0%;
					}
				}
			}
	
			.hambuger-btn  {
				background-color: $bodyTxtColor;
				display: block;
				top: 15%;
				right: 25px;
				padding: 3px;
				z-index: 999;
				color: $bodyBgColor;
				position: absolute;
				cursor: pointer;
			}
		}
	}
}
                                                                                                                                                                                                                                             
@mixin homePagePhone() {
	.hero {
		flex-direction: column;
		align-items: center;
		transform: translate(10%, 20%);

		.hero-image img {
			width: 130px;
			height: 130px;
			margin: .2rem 0;
		}

		.hero-info {
			.hero-text {
				h1 {
					font-size: 1rem;
					letter-spacing: normal;
				}
				p {
					font-size: .8em;
					padding: .9rem 0;

					#orange {
						font-size: .9rem;
					}

		
				}
				#cheers {
					font-size: 14px;
				}
			}

			.hero-btns {
				display: flex;
				padding: unset;
				flex-direction: column;

				a {
					font-size: .9em;
					margin: .8em;
					padding: 10px 0;
				}
			}

			.wrapper {
				& .button {
					display: none;
				}
			}
		}
	}
}

@mixin homePageTablet() {

}

@mixin aboutPhone() {
	.About {
		padding: 1.5rem 1rem;
	}

	.About-header {
		h2 {
			padding: .1rem .6rem;
			font-size: 1rem;
			margin: .5rem 0;
		}
		p {
			font-size: .9em;
		}
	}
	.about-info {
		flex-direction: column;

		.about-img img {	
			padding-bottom: .9rem;
			height: 280px;
		}

		.aboutme  {
			line-height: unset;

			.about-me p {
				font-size: .8em;
			}
			hr {
				margin: 1rem 0;
			}
		}
	}
}

@mixin aboutTablet() {
	.about-info {
		display: flex;
		flex-direction: column;
	}
}

@mixin slideShowPhone() {
	.gallery {
		padding: 1.3rem;

		.gallery-header {
			h3 {
				font-size: 1rem;
			}
		}
		#image-gal-hr {
			height: .3em;
		}
		.slideshow-container {
			.slide {
				img {
					height: 200px;
				}
				.number {
					padding: 4px 8px;
					font-size: .7rem;
				}
			}
			.prev, .next {
				// font-size: 2px;
				padding: 8px;
			}

			.caption {
				font-size: .8em;
			}
			.dots {
				.dot {
					width: 10px;
					height: 10px;
					margin: 4px 1px;
				}
			}
		}
	}
}

@mixin slideShowTablet() {

}

@mixin servicesPhone() {
	.services {
		padding: 1.5rem 1rem;

		.services-container {
			.services-header {
				h3 {
					font-size: 1rem;
					padding-bottom: .1rem;
				}
				p {
					font-size: .9em;
				}
			}
			.services-cta {
				padding: 1rem 0;
				flex-direction: column;

				h3 {
					font-size: 1.1rem;
				}
				p {
					font-size: .8em;
				}
				.cheap, .quality, .online-booking {
					padding: 1rem 0;

					img {
						width: 85px;
						height: 85px;
					}
				}
			}
			.My-services {
				flex-direction: column;

				.image {
					.service-description {
						h3 {
							font-size: 1rem;
						}
						p {
							font-size: .8em;
						}
					}
					margin-bottom: 2rem;
				}
			}
		}
	}
}

@mixin servicesTablet() {

}

@mixin testimonialPhone() {
	.Testimonials {
		padding: 1.5rem 1rem;
	}

	.testimonials-header {
		h2 {
			font-size: 1rem;
			padding: unset;
		}
	}

	.testimonies {
		display: flex;
		flex-direction: column;
		padding-bottom: unset;

		.test {
			p {
				font-size: .8em;
			}
			margin-bottom: 1rem;

			.user {
					img {
						width: 35px;
						height: 35px;
					}
			}
		}
	}
}

@mixin testimonialTablet() {

}

@mixin faqPhone() {
	.faq {
		padding: 1rem 1rem;

		.head {
			h2 {
				font-size: 1rem;
			}
		}
		& #faq-hr {
			height: 5px;
		}

		.panels {
			.accordion {
				font-size: .9em;
				padding: 12px;
			}
			.panel {
				font-size: .8em;
				padding: 0 1.2rem;
			}
		}
	}
}

@mixin faqTablet() {
	.faq {
		padding: 1.5rem 2rem;
		
		.head {
			font-size: 1.3rem;
		}
	}
}

@mixin contactPhone() {
	.contact {
		padding: .5rem 1rem;
	}

	.contact-header {
		h2 {
			font-size: 1rem;
			padding: unset;
		}
		p {
			padding: unset;
			font-size: .9em;
		}
	}
	.contact-section {
		width: 90%;
		padding: 2rem 0;
        flex-direction: column;

		.contact-address {
			line-height: 30px;

			i {
				@include icons;
				margin: unset;
			}

			iframe {
				margin-top:2rem;
			}
		}

		.contact-form {
			input  {
				margin-bottom: unset;
			}
			button[type="button"] {
				width: 100%;
			}
		}
    }
}

@mixin contactTablet() {
	.contact-section {
        display: flex;
        flex-direction: column;
    }
    button[type="submit"] {
        width: 100%;
    }	
}

@mixin footerPhone() {
	.my-footer {
		padding: .5rem 1rem;

		.footer-links {
			width: 90%;
			flex-direction: column;
			margin-bottom: 1rem;

			h3 {
				padding: .5rem 0;
			}

			li {
				margin-bottom: 3px;

				a {
					font-size: .7em;
				}
			}
		}

		.top a {
			padding: 8px 10px;
			bottom: 20%;

			i {
				color: $bodyBgColor
			}
		}

		.footer-txt {
			font-size: .65em;
			margin: unset;
		}

	}
}

@mixin footerTablet() {
	.footer-links {
		display: flex;
		flex-direction: column;
	}
}