.contact {
    padding: 2rem 0;
}

.contact-header {
    text-align: center;
    @include Hr(2rem);

    p{
        padding-top: 1rem;
        color: #777;
    }
}

.contact-section {
    display: flex;
    width: 90%;
    padding: 3rem 2rem;
	margin: 0 auto;
    justify-content: space-between;

    .contact-address {
        flex-basis: 44%;
        line-height: 40px;

        iframe {
            width: 100%;
            border: none;
            margin-top: 3rem;
            box-shadow: 0 5px 10px 3px #ddd;
        }
    }

    .contact-form {
        flex-basis: 50%;

        form {
            input {
                margin-bottom: 1rem;
                width: 100%;
                border: none;
                outline: none;
                transition: .5s;
                padding: 8px 14px;
                border-bottom: 1px solid rgb(14, 13, 13);
    
                &:focus {
                    border-radius: 5px;
                    // background-color: #fff;
                    border: 2px solid rgb(0, 0, 0);
                }
            }
    
            textarea {
                width: 100%;
                border: 1px solid $bodyTxtColor;
                resize: none;
                margin-top: 2rem;
                outline: none;
                padding: 12px 14px;
                border-radius: 5px;
            }
    
            button[type="button"] {
                @include button();  
    
                .fa-paper-plane {
                    @include icons($bodyBgColor);
                }
    
                &:hover {
                    opacity: .7;
                    background-color: #042ff0   ;
                }
            }
        }
    }   
}

@media screen and (max-width: 660px) {
    @include contactTablet;
}