.my-footer {
    padding: 2rem 3rem;
	position: relative;
	background-color: #f1f1f1;

    .footer-links {
        width: 80%;
        display: flex;
        justify-content: space-around;

        li {
            margin-bottom: 15px;
            list-style-type: none;
        }

        a {
            transition: .4s;
            color: #616161;
            font-size: .8rem;
            text-decoration: none;

            &:hover {
                color: $bodyBgColor;
            	background-color: deepskyblue;
            }
        }

        i {
        	padding-right: 3px;
        }
    }
    
    .top a {
        bottom: 25%;
        right: 6%;
        padding: 10px 14px;
        font-size: .8rem;
        position: absolute;
        border-radius: 5px;
        text-decoration: none;
        background-color: #ffffff;
    
        i {
            padding-right: 4px;
        }
    }
    
    .footer-txt {
        padding: 16px;
        margin-top: 2px;
        font-size: .8em;
        text-align: center;
    
        p {
            color: #616161;
        }
    }
}

@media screen and (max-width: 660px) {
    @include footerTablet;
}