/* mobile devices*/
@mixin mobile {
    .logo {
		padding: 0 1em;
	}

    .menuLinks {
        top: 5.4%;
		left: 0%;
		width: 100%;
		display: none;
		position: fixed;
		border-radius: 0 0 .4em .4em;
		padding: .8em .2em;
		flex-direction: column;
		background-color: #efefef;
		box-shadow: 0 1px 5px;

        li {
            border-bottom: 1px solid $bodyTxtColor;

        &:last-child {
            border-bottom: none;
        }
        }
        a {
            display: block;

        &:hover {
            background-color: #b5b5b5;
        }
        }
    }

	.hamburger {
		display: block;
		top: 25%;
		position: absolute;
	}

	#hamburgerClose {
		visibility: hidden;
	}
}

@mixin heroSmallScreen() {
	.hero {
		flex-direction: column;

		.hero-image img {
			width: 140px;
			height: 140px;
			margin-bottom: 1rem;
			box-shadow: 0 8px 8px 6px;
		}
		& h1 {
			font-size: 1.2rem;
			line-height: 2rem;
			padding-bottom: .2rem;
		}
		& p {
			line-height: 1.1rem;
			font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		&-btn {
			padding: .1em 0;

			a {
				display: flex;
				margin-top: .6em;
				padding: 8px 0;
				flex-direction: column;
			}
		}
	}

}