// variable declaration
$primaryColor: #0000ff;
$secondaryColor: #00ff00;
$orange: orange;
$bodyTxtColor: #000;
$bodyBgColor: #fff;
$fontStack: 'Poppins', sans-serif;
$bodyFontFamily: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; 
$fontSize: 1rem;
$fontWeights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$linearGradient: linear-gradient(rgba(0,0,0,0.8), #000000);
$mobile: 400px;
$tablet: 660px;