/* Import/use partials*/
/* @use - alternative to @import and must be written before any other rules*/
@use "sass:math"; /*for "math" operations e.g "math.div(300px, 960px) * 100%;" converts 300px into percentage based on a total width of 960px.*/
@use "./buttons"; /*for reusable snippets*/
@import "./variables";
@import "./resets";
@import "./icons";
@import "./responsive";
@import "./functions";
@import "./display";
@import "./keyframesAnime";


/* Import font family google link*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather&family=Poppins:wght@100;200;300;400&family=Roboto:wght@300&display=swap');



%transparentBgImages {
	position: relative;
    background: no-repeat center  $linearGradient, url(../Images/istockphoto-1465597988-1024x1024.jpg);
}

%icons {
    color: blue;
}

html {
	scroll-behavior: smooth;
}

body {
    color: $bodyTxtColor;
    background-color: $bodyBgColor;
    font: {
        size: $fontSize;
        family: $bodyFontFamily;
    }
}

.home-page {
	@extend %transparentBgImages;
    min-height: 100vh;
}

.navbar {
    z-index: 18;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	background-color: azure;
	justify-content: space-between;
	box-shadow: 0 0 12px;

      .logo{
        padding: .8em 4em;
        letter-spacing: .17em;
        text-transform: uppercase;
        background: url(Images/bubble.png);
        /* background-position: 0 0; */
        font-family: "Brush Script MT", cursive;
        /*font-family: Georgia, 'Times New Roman', Times, serif;*/
        animation: back 20s linear infinite;

        a {
            font: 1.5em weight(bold);
            text-decoration: none;
        }

        span {
	        color: #FE9900;
        }

        /*Logo animation */
        @keyframes back {
            100% {
                background-position: 2000px 1000px;
            }
        }
    }
    .menu {
        ul {
            display: flex;
            padding-right: 4em;
            align-items: center;
            vertical-align: middle;
            list-style-type: none;
        }
        a {
            padding: .8em;
            position: relative;
            display: inline-block;
            text-decoration: none;


            &::after {
                top: 75;
                left: 0%;
                width: 0%;
                content: '';
                height: .16;
                position: absolute;
                transition: width  .3s;
                background-color: orange;
                border-radius: 2em 2em 0 0 ;
            }

            &:hover::after {
                width: $widthHoverEffect;
            }
            &:hover {
                font-weight: weight(bold);
                color: rgb(8, 8, 8);
            }
        }
        .fa-solid, .fa-brands {
            @extend %icons;
        }
    }
    .hambuger-btn .hamburger {
        color: #a0a0a0;
        top: 2.4%;
        right: 3%;
        z-index: 20;
        display: none;
        cursor: pointer;
        position: fixed;
    }
    #menuLinks {
        overflow: hidden;
        transition: height 0.3s ease;
    }
    
    #menuLinks.show {
        display: block;
        height: 270px; 
    }
    
    #menuLinks.hide {
        height: 0;
    }
    
    #hamburgerOpen, #hamburgerClose {
        transition: visibility 0.3s ease;
    }
}

@include mobile;

.hero {
    top: 55%;
    left: 50%;
    width: 70%;
    color: $bodyBgColor;
    text-align: center;
    @include display();
    transform: translate(-50% -50%);

    & .hero-image img {
        transition: .5s;
        object: {
            fit: cover;
            position: top; 
        }
        border: 1px solid rgb(15, 3, 3);
        border-radius: 50%;

        &:hover {
            transform: translateY(8vh);
            border: 3px solid orange;
            border: 1.5px solid $primaryColor;
            box-shadow: 0 -8px 8px 6px $bodyBgColor;
        }
    }
    .hero-text {
        h1 {
        padding-bottom: 1em;
        }

        p {
            font-family: 'Roboto', sans-serif;
        }
    }
    .hero-btn {
        padding: 5em 0;

        a {
            z-index: 1;
            color: $bodyBgColor;
            margin: 0 1em;
            padding: .7em 3em;
            position: relative;
            border-radius: 1.5em;
            text-decoration: none;
            transition: color .5s;
            border: 1px solid $bodyBgColor;

            span {
                left: 0%;
                bottom: 0%;
                width: 0;
                z-index: -1;
                height: 0%;
                transition: .4s;
                position: absolute;
                border-radius: 7em;
                background: linear-gradient(rgb(38, 0, 255), rgba(89, 90, 102, 0.2));
            }
            &:hover {
                color: $bodyTxtColor;
	            box-shadow: 0 3px 9px $bodyBgColor;

                span {
                    width: $widthHoverEffect;
                    height: $widthHoverEffect;
                }
            }
        }
    }
}
.bubble {
    width: $widthHoverEffect;
    bottom: 0px;
    @include display();

    img {
        width: 25px;
        animation: bubble 7s linear infinite;
    }
}

@keyframes bubble {
    0% {
        @include animation(0, translateY(0));
    }
    30% {
        @include animation(1, none);
    }
    70% {
        @include animation(1, none);
    }
    100% {
        @include animation(0, translateY(-80vh));
    }
}


@include heroSmallScreen;

