// Import/use partials
// @use - alternative to @import and must be written before any other rules
@use "sass:math"; //for "math" operations e.g "math.div(300px, 960px) * 100%;" converts 300px into percentage based on a total width of 960px.
@use "./mixins"; //for reusable snippets
@use "./functions";
@import "./variables";
@import "./resets";

// Import font family google link
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather&family=Poppins:wght@100;200;300;400&family=Roboto:wght@300&display=swap');

html {
	scroll-behavior: smooth;
}

body {
    color: $bodyTxtColor;
    background-color: $bodyBgColor;
    font-size: $fontSize;
    font-family: $bodyFontFamily;
}