/*Import font family link*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather&family=Poppins:wght@100;200;300;400&family=Roboto:wght@300&display=swap');

/*Select all elements*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cinzel', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*Style the home page backgroud*/
.home-page {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.2), #0a0a0a ), url(Images/IMG-20221101-WA0005.jpg);
	position: relative;
	background-size: cover;
	background-position: center;
}

.hero-text p {
	margin-bottom: 5rem;
}

.hero-btn-h a {
	z-index: 1;
	color: #fff;
	margin: 1em;
	overflow: hidden;
	padding: .7em 3em;
	position: relative;
	text-decoration: none;
	transition: color .5s;
	border: 1px solid #fff;
}

.hero-btn-h a span {
	left: 0%;
	bottom: 0%;
	width: 0%;
	z-index: -1;
	height: 100%;
	transition: .4s;
	position: absolute;
	background-color: #f8f9fc;
}

.hero-btn-h a:hover span {
	width: 100%;
}

.hero-btn-h a:hover {
	color: #000;

}

/*Style the hero on small screens*/
@media screen and (max-width: 400px) {
	.hero-info .hero-text h1 {
		font-size: 2rem;
		line-height: 2rem;
		margin-bottom: 5rem;
	}
	.hero-text p {
		font-size: 1rem;
		margin-bottom: 3rem;
	}
	.hero-btn-h {
		padding: .6em 2em;
	}
	.hero-btn-h a {
		padding: 6px 0;
		display: flex;
		margin-top: .7em;
		flex-direction: column;
	}
}

.abt {
	width: 100%;
	padding: 2em 5rem;
	background-color: #f1f1f1;
}
.abt h1 {
	color: orange;
	text-align: center;
	padding-bottom: 2rem;
	font-family: "Trirong", serif;
}
.abt p {
	text-align: center;
	padding-bottom: 2rem;
}

/*Style the hero on small screens*/
@media screen and (max-width: 400px) {
	.abt {
		width: 100%;
		padding: 1em 2rem;
	}
	.abt h1 {
		font-size: 1.2rem;
		text-align: center;
		padding-bottom: 1rem;
	}
	.abt p {
		font-size: .8rem;
		text-align: center;
		padding-bottom: 1rem;
	}
}

/*Style the image gallery*/
.image-gallery-1 {
	width: 100%;
	padding: 2em 5rem;
}

.image-gallery-2 {
	width: 100%;
	padding: 2em 5rem;
	background-color: #f1f1f1;
}

/*Style img container*/
.img-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

/*Style image elements*/
.img-container .image-elements {
	width: 100%;
	color: #fff;
	flex-basis: 38%;
	position: relative;
}

.img-container .description {
	flex-basis: 56%;
}

.img-container .image-elements img {
	width: 100%;
	object-fit: cover;
	border-radius: 7px;
}

/*Style the image gallery on small screens*/
@media screen and (max-width: 660px) {
	.image-gallery-1 {
		padding: 2em;
	}
	.image-gallery-2 {
		padding: 2em;
	}
	.image-gallery-1 .description {
		padding-left: 1rem;
	}
	.image-gallery-2 .description {
		padding: 0 0 1rem 1rem;
	}
	.img-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.service-description p {
		font-size: .65rem;
	}
	.description h4 {
		padding-top: 1.5em;
	}
	.description h4 {
		font-size: 1.2rem;
		padding: .5px;

	}
	.description ul {
		font-size: .9rem;
	}
}

/*Style the image gallery section*/
.responsive-gall {
	width: 100%;
	padding: 2em;
	background-color: #fbfbfb;
}

.image-gallery {
	display: grid;
	gap: .9rem;
	grid-template-columns: auto auto auto auto;
}

.responsive-gall h2 {
	padding: 2rem 0;
	text-align: center;
}

.resp-image {
	transition: .5s;
	border: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
}

.resp-image img {
	width: 100%;
	border-radius: 5px 5px 0 0;
	object-fit: cover;
	object-position: center;
}

.resp-image:hover {
	border: 1.5px solid rgb(179, 179, 253);
	box-shadow: 0 5px 10px 3px #ddd;
}

.desc p {
	padding: 1rem 0;
	text-align: center;
}

@media screen and (max-width: 400px) {
	.image-gallery {
		display: grid;
		gap: .9rem;
		grid-template-columns:  auto;
	}
}