/*Style the hero*/
.hero-btn a {
	border-radius: unset;
}

.hero-btn a span {
	left: 0%;
	bottom: 0%;
	width: 0%;
	z-index: -1;
	height: 100%;
	transition: .4s;
	border-radius: unset;
	position: absolute;
	background: linear-gradient(rgb(106, 87, 229), rgba(25, 0, 255, 0.5));

}

.hero-btn a:hover span {
	width: 100%;
}

.hero-btn a:hover {
	color: #000;
}

/*Style the hero on small screens*/
@media screen and (max-width: 400px) {
	.hero-text h1 {
		padding: 2rem;
	}
}

.abt {
	width: 100%;
	padding: 2em 5rem;
	background-color: #f1f1f1;
}
.abt h1, p {
	text-align: center;
	padding-bottom: 2rem;
}
.abt h1 {
	color: orange;
	font-family: "Trirong", serif;
}

/*Style the hero on small screens*/
@media screen and (max-width: 400px) {
	.abt {
		width: 100%;
		padding: 1em 2rem;
	}
	.abt h1 {
		font-size: 1.2rem;
		text-align: center;
		padding-bottom: 1rem;
	}
	.abt p {
		font-size: .8rem;
		padding-bottom: 1rem;
	}
}

/*Style the image gallery*/
.image-gallery-1, .image-gallery-2 {
	width: 100%;
	padding: 2em 5rem;
}

.image-gallery-2 {
	background-color: #f1f1f1;
}

/*Style img container*/
.img-container {
	display: flex;
	justify-content: space-around;
}

/*Style image elements*/
.img-container .image-elements {
	width: 100%;
	color: #fff;
	flex-basis: 40%;
	position: relative;
}

.img-container .description {
	flex-basis: 54%;
}

.img-container .image-elements img {
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

/*Style the image gallery on small screens*/
@media screen and (max-width: 660px) {
	.image-gallery-1, .image-gallery-2 {
		padding: 2em;
	}
	.image-gallery-1 .description {
		padding-left: 1rem;
	}
	.image-gallery-2 .description {
		padding: 0 0 1rem 1rem;
	}
	.img-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.service-description p {
		font-size: .65rem;
	}
	.description h4 {
		padding-top: 1.5em;
	}
	.description h4 {
		font-size: 1.2rem;
		padding: .5px;

	}
	.description ul {
		font-size: .9rem;
	}
}

/*Style the image gallery section*/
.image-gallery-section {
	width: 100%;
	padding: 2em;
	background-color: #fbfbfb;
}

.image-gallery {
	display: grid;
	gap: .9rem;
	grid-template-columns: auto auto auto auto;
}

.responsive-gall h2 {
	padding: 2rem 0;
	text-align: center;
}

.resp-image {
	transition: .5s;
	border: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
}

.resp-image img {
	width: 100%;
	border-radius: 5px 5px 0 0;
	object-fit: cover;
	object-position: center;
}

.resp-image:hover {
	border: 1.5px solid rgb(179, 179, 253);
	box-shadow: 0 5px 10px 3px #ddd;
}

.desc p {
	padding: 1rem 0;
	text-align: center;
}

@media screen and (max-width: 400px) {
	.image-gallery {
		display: grid;
		gap: .9rem;
		grid-template-columns:  auto;
	}
}

.Testimonials {
	background-color: #f3f3f3;
}