/*Import font family link*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather&family=Poppins:wght@100;200;300;400&family=Roboto:wght@300&display=swap');

/*Select all element*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cinzel', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*Style the home page backgroud*/
.home-page {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.2), #009688 ), url(Images/459-background.png );
	position: relative;
	background-size: cover;
	background-position: center;
}

/*style the home page top bar*/
.homePageTopBar {
	display: flex;
	height: 8vh;
	align-items: center;
	justify-content: space-between;
}

/*style the logo*/
.logo {
	font: 1.5rem bold;
	text-transform: uppercase;
	font-family: 'Times New Roman', Times, serif;
}

span {
	color: #f00424;
}

.menu ul {
	display: flex;
	padding-right: 40px;
	list-style-type: none;
}

.menu a {
	color: #fff;
	padding: 12px;
	position: relative;
	text-align: center;
	transition: .3s ease-in-out;
	text-decoration: none;
}

.menu a::after {
	top: 80%;
	left: 6%;
	content: "";
	width: 0%;
	height: 3px;
	border-radius: 4px 4px 0 0;
	transition: width .5s;
	background-color: #fff;
	position: absolute;
}

.menu a:hover::after {
	width: 90%;
}

.menu a:hover {
	color: rgb(75, 241, 172);
}

.menu .fa-solid, .fa-brands {
	margin-right: 5px;
}

.hamburger {
	top: 16px;
	right: 10px;
	color: #fff;
	z-index: 2;
	padding: 5px;
	display: none;
	cursor: pointer;
	position: fixed;
	background-color: #009688;
}

@media screen and (max-width: 576px) {
	.homePageTopBar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		top: 0;
		right: 0%;
		position: fixed;
		z-index: 2;
		padding: 4px;
		width: 50%;
		height: 100vh;
		transition: .5s;
		flex-direction: column;
		background-color: #009688;
	}
	.homePageTopBar ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.homePageTopBar li {
		padding: 16px 14px;
	}
	.hamburger {
		display: block;
	}
}

/*style home page info*/
.home-page-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	top: 53%;
	left: 50%;
	color: #fff;
	position: absolute;
	transform: translate(-50%, -50%);
}

/*style home page image*/
.home-page-photo img {
	object-fit: cover;
	margin-bottom: 7%;
	border-radius: 50%;
	transition: .5s;
}

.home-page-photo img:hover {
	transform: scale(0.9);
}

/*style home page text*/
.home-page-text h2, p {
	padding-bottom: 1em;
}

/*style home page button*/
.home-page-btn {
	padding: 10px;
	margin-bottom: 15px;
}
.home-page-btn a {
	color: #fff;
	border-radius: 70px;
	text-decoration: none;
	padding: 10px 16px;
	transition: color .5s;
	margin: 7px;
	position: relative;
	z-index: 1;
	border: 1px solid #fff;
	overflow: hidden;
}

.home-page-btn a span {
	width: 0%;
	height: 100%;
	background-color: #042ff0;
	bottom: 0;
	left: 0;
	border-radius: 70px;
	transition: .4s;
	position: absolute;
	z-index: -1;
}

.home-page-btn a:hover span {
	width: 100%;
}

@media screen and (max-width: 576px) {
	.home-page-btn a {
		display: flex;
		padding: 4px;
		flex-direction: column;
	}
}

/*Style the services section*/
.services {
	width: 100%;
	padding: 40px 0;
	background-color: #efefef;
}

.my-reput {
	display: flex;
	width: 90%;
	margin: 5px auto;
}

.services-head {
	text-align: center;
	font: 2rem bold;
	margin-bottom: 30px;
}

h4 {
	text-align: center;
	padding-bottom: 10px;
}

.my-reput p {
	text-align: center;
}

.image {
	flex-basis: 50%;
	margin: 20px;
	color: #fff;
	position: relative;
}

.image img {
	object-fit: cover;
	width: 100%;
	border-radius: 7px;
}

.photography {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 20px auto;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border-radius: 7px;
	width: 100%;
	cursor: pointer;
	transition: .6s;
	opacity: 0;
	background: linear-gradient(rgba(0,0,0,0.5), #009688);
}

.service-description {
	width: 90%;
	position: absolute;
	left: 50%;
	text-align: center;
	bottom: 0;
	opacity: 0;
	transition: 1s;
	transform: translate(-50%);
}

.service-description p {
	font-size: 15px;
}

.service-description hr {
	background-color: #fff;
	height: 2px;
	width: 80%;
	border: none;
	margin: 5px auto;
}

.image:hover .overlay {
	opacity: 1;
}

.image:hover .service-description {
	opacity: 1;
	bottom: 30%;
}

@media screen and (max-width: 576px) {
	.photography {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-basis: 100%;
		align-items: center;
	}
	.my-reput {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 800px) {
	.photography {
		display: flex;
		flex: auto auto;
		flex-basis: 50%;
		align-items: center;
	}
}

/*Style the about section*/
.testimonials {
	width: 100%;
	padding: 40px 0;
}

.testimonials-header {
	text-align: center;
}

.testimonials-section {
	display: flex;
	width: 90%;
	margin: auto;
	justify-content: space-between;
}

.testimonials-section .test {
	flex-basis: 30%;
	border-radius: 5px;
	margin: 10px auto;
	cursor: pointer;
	padding: 15px;
	transition: .5s;
	box-shadow: 0 5px 10px 3px #ddd;
}

.testimonials-section .test p {
	font-size: 15px;
}

.user {
	display: flex;
	align-items: center;
	margin: 12px auto;
}

.user img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	object-fit: cover;
}

.user small, .fa-brands {
	color: #27c0ff;
}

.testimonials-section .test:hover {
	transform: translateY(6px);
}

@media screen and (max-width: 576px) {
	.testimonials-section {
		display: flex;
		flex-direction: column;
	}
}

/*Style the about section*/
.About {
	width: 100%;
	padding: 40px 0;
	background-color: azure;
}

.About-header {
	text-align: center;
	padding-bottom: 30px;
}

.About-header h3 {
	color: #009688;
	padding-bottom: 10px;
}

.about-info {
	display: flex;
	width: 90%;
	margin: 5px auto;
}

.about-img {
	flex-basis: 40%;
	padding-right: 12px;
}

.about-img img {
	width: 100%;
	border-radius: 5px;
}

.aboutme {
	flex-basis: 60%;
	text-align: justify;
}

.follow-me-links {
	margin-top: 10px;
	text-align: center;
}

.social-links {
	margin-top: 15px;
}

.social-links a {
	padding: 8px 14px;
	border: 1px solid grey;
	border-radius: 35px;
	text-decoration: none;
	transition: .6s;
}

.social-links a:hover {
	color: #fff;
	background-color: #042ff0;
}

@media screen and (max-width: 576px) {
	.about-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.about-img {
		flex-basis: 100%;
		padding-bottom: 20px;
	}	
}


/*Style the contact section*/
.contact {
	width: 100%;
	padding: 20px 0;
	background-color: #f1f1f1;
}

.contact-header {
	text-align: center;
	margin: 20px auto;
	width: 90%;
}

.contact-section {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin: 20px auto;
}

.contact-address {
	flex-basis: 40%;
	line-height: 70px;
}

.contact-form {
	flex-basis: 60%;
}

.contact-form p {
	text-align: center;
}

input {
	border: none;
	outline: none;
	padding: 12px 14px;
	margin: 8px;
	width: 100%;
	transition: .5s;
	background-color: #f1f1f1;
	border-bottom: 1px solid rgb(14, 13, 13);
}

textarea {
	border: none;
	outline: none;
	padding: 12px 14px;
	margin: 8px;
	resize: none;
	width: 100%;
	border-radius: 5px;
	background-color: #ffffff;
}

input:focus {
	background-color: #ffffff;
	border-radius: 5px;
	border: none;
}

button[type="submit"] {
	cursor: pointer;
	transition: all .3s;
	border: none;
	color: #fff;
	border-radius: 50px;
	padding: 12px 20px;
	margin: 8px;
	background-color: #042ff0;
	box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
	/*background-color: rgb(12, 206, 131);*/
}

button[type="submit"]:hover {
	opacity: 0.8;
}

@media screen and (max-width: 576px) {
	.contact-section {
		display: flex;
		flex-direction: column;
	}
	button[type="submit"] {
		width: 100%;
	}
}

/*Style the footer section*/
.footer {
	width: 100%;
	padding: 10px 0;
	min-height: 30vh;
	position: relative;
	background-color: #8780e7;
}

.footer-links {
	width: 80%;
	margin:  2px auto;
	display: flex;
	padding: 20px;
	justify-content: space-around;
	align-items: flex-start;
}

.top a {
	color: #fff;
	bottom: 76px;
	right: 10%;
	font-size: 30px;
	position: absolute;
	text-decoration: none;
}

.footer-links li {
	margin-bottom: 15px;
	list-style-type: none;
}

.footer-links a {
	color: #fff;
	text-decoration: none;
	transition: .4s;
}

.footer-links a:hover {
	color: #09f03b;
}

.footer-txt p{
	text-align: center;
	margin-top: 2px;
	font-size: .9em;
}

@media screen and (max-width: 576px) {
	.footer-links {
		display: flex;
		justify-content: center;
		
	}
	.social-media-links, .useful-links {
		flex-basis: 50%;
	}
}