@use "./variables" as v;
@use "./responsive" as r;
@use "./sectionHeading" as s;
.about-section {
  padding: v.$sectionPaddingDesktop;
  background-color: hsl(245, 100%, 10%);
  color: var(--fav-color-text);

  .about-title {
    @include s.sectionHeading;
  }
  .container {
    display: flex;
    gap: 2rem;
    margin: 3rem auto;

    .about-img {
      flex-basis: 35%;

      img {
        width: 100%;
        object: {
          fit: cover;
          position: 100% 30%;
        }
        border-radius: 5px;
      }
      .mission-statement {
        padding: 1rem 0;
        font-size: .8rem;
      }
    }
    .about-info {
      flex-basis: 60%;

      p {
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: v.$mobile) {
  @include r.aboutPhone;
}

@media screen and (min-width: v.$mobile) and (max-width: v.$tablet) {
  @include r.aboutTablet;
}
