// Reusable snippet for buttons
@mixin button() {
    color: $bodyBgColor;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 7px;
    padding: .5rem 1rem;
    border: none;
    font-weight: 600;
    background-color: $primaryColor;
}