// Reusable snippet for buttons
@use "./variables" as v; //to use variables from variables.scss, we need to add "as v" to create an alias for the file. Then we can access the variables using "v.variableName"
@mixin button() {
    color: v.$bodyBgColor;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 7px;
    padding: .5rem 1rem;
    border: none;
    font-weight: 600;
    background-color: v.$primaryColor;
}