// Contact section
@use "./variables" as v;
@use "./buttons" as b;
@use "./responsive" as r;
@use "./sectionHeading" as s;
@use "./icons" as i;
.contact {
  background-color: #161748;
  padding: v.$sectionPaddingDesktop;
}
.contact-header {
  text-align: center;
  margin-bottom: 2rem;

  h2 {
    @include s.sectionHeading;
  }
}

.contact-section {
  display: flex;
  justify-content: space-between;

  .contact-address {
    flex-basis: 44%;
    line-height: 4rem;

    span {
      margin-left: 1rem;

      & a {
        color: v.$bodyTxtColor;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
          color: rgb(2, 10, 255);
        }
      }
    }

    iframe {
      width: 100%;
      margin-top: 2rem;
      border-radius: 5px;

      &:hover {
        box-shadow: 0 0 10px rgba(185, 186, 226, 0.5);
      }
    }
  }

  .contact-form {
    flex-basis: 48%;

    form {
      input,
      textarea {
        color: v.$bodyTxtColor;
        margin-bottom: 1rem;
        width: 100%;
        border: 1px solid #ddd;
        outline: none;
        transition: all 0.5s;
        padding: 8px 14px;
        border-radius: 5px;
        background-color: transparent;

        &:focus {
          border: 1.5px solid rgb(2, 10, 255);
          box-shadow: 0 0 5px rgba(2, 10, 255, 0.5);
        }
      }

      textarea {
        resize: none;
        margin-top: 2rem;
        outline: none;
      }

      button[type="submit"] {
        @include b.button();
        background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

        .fa-paper-plane {
          @include i.icons(v.$bodyBgColor);
          transition: all 0.5s;
        }

        &:hover {
          opacity: 0.7;
          color: v.$white !important;
          background-color: linear-gradient(
            45deg,
            rgba(2, 10, 255, 0.8),
            rgba(2, 10, 255, 0.5)
          );
          box-shadow: 0 0 10px rgba(2, 10, 255, 0.5);
          .fa-paper-plane {
            color: v.$white !important;
            transform: translateX(5px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: v.$mobile) {
  @include r.contactPhone();
}

