// Footer section
footer {
  padding: $sectionPaddingDesktop;
  background-color: $bodyBgColor;

  .footer-content {
    // @include flexbox();
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;

    .social-media-icons a {
      // @include icons($primaryColor);
      margin-left: 10px;
      color: $primaryColor;
      font-size: 1.5em;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: $orange;
        transform: translateY(-3px);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  @include footerPhone;
}

