// Footer section
@use "./variables" as v;
@use "./responsive" as r;
footer {
  padding: v.$sectionPaddingDesktop;
  background-color: v.$bodyBgColor;

  .footer-content {
    // @include flexbox();
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;

    .social-media-icons a {
      // @include icons($primaryColor);
      margin-left: 10px;
      color: v.$primaryColor;
      font-size: 1.5em;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: v.$orange;
        transform: translateY(-3px);
      }
    }
  }
}

@media screen and (max-width: v.$mobile) {
  @include r.footerPhone;
}

