/*home-page scss*/
// import navigation bar styling
@use "_topNavigationBar.scss";
@use "./variables" as v;
@use "./responsive" as r;

.home-page {
  padding: v.$sectionPaddingDesktop;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100vh;
  background-color: hsl(246, 81%, 15%);

  

  .hero {
    display: inherit;
    gap: 12rem;

    .hero-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .hero-text-intro {
        h2 {
          font: {
            size: 3.2rem;
            weight: weight(bold);
          }

          .orange {
            color: v.$orange;
          }
        }

        // @import "./typing-txt.scss";

        .text-animation {
          #dynamic-text {
            font: {
              size: 1.5rem;
              weight: weight(bold);
            }
            color: v.$orange;
            margin: 1rem 0;
          }
          #dynamic-text::after {
            content: "|";
            display: inline-block;
            margin-left: 2px;
            animation: blink 0.5s step-end infinite;
          }
          @keyframes blink {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }

      .hero-btns {
        display: inline-flex;
        padding: 0 0 2rem;
        gap: 1.6rem;

        a {
          font-weight: weight(medium);
        }

        .disabled {
          background-color: rgba($color: #000000, $alpha: 0.7);
          color: v.$bodyTxtColor;
          border: 1px solid v.$orange;
          cursor: not-allowed;
          pointer-events: none;
        }

        a:hover {
          transform: scale(1.03);
          color: v.$bodyTxtColor;
          background-color: rgba($color: #000000, $alpha: 0.7);
          border: 1px solid v.$orange;
        }
      }
      .wrapper {
        display: flex;

        & .icon {
          display: block;
          height: 35px;
          width: 35px;
          border-radius: 35px;
          margin: 0 5px;
          text-align: center;
          overflow: hidden;
          line-height: 35px;
          background: v.$white;
          cursor: pointer;
          transition: all 0.3s ease-out;

          &:hover {
            color: v.$white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 150px;
            box-shadow: 0 0 10px v.$bodyTxtColor;

            i {
              color: v.$white;
            }
          }
        }
        .fa-linkedin {
          color: #0077b5;
        }
        .ln:hover {
          background: #0077b5;
        }
        .fa-facebook-f {
          color: #1a6ed8;
        }
        .fb:hover {
          background: #1a6ed8;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .tw:hover {
          background: #1da1f2;
        }
        .fa-fa-instagram {
          color: #ff0084;
        }
        .in:hover {
          background: #fc45a4;
        }
        .fa-github {
          color: #333;
        }
        .git:hover {
          background: #111;
        }
        .fa-youtube {
          color: #f00;
        }
        .yt:hover {
          background: #f00;
        }
      }
    }
    .hero-image {
      img {
        transition: all 0.5s ease-in-out;
        border-radius: 50%;
        object: {
          fit: cover;
          position: center;
        }

        &:hover {
          transform: scale(1.05);
          border: 1.5px solid orange;
          cursor: pointer;
        }
      }
    }
  }
}

/*hero on small screen*/
/*navbar on small screen*/
@media screen and (max-width: v.$mobile) {
  @include r.navbarPhone;
}

@media screen and (max-width: v.$mobile) {
  @include r.homePagePhone;
}

@media screen and (min-width: v.$mobile) and (max-width: v.$tablet) {
  @include r.homePageTablet;
}
