/* mobile devices*/
// @mixin navbarPhone() {
//   .top-navigation-links {
//     .logo {
//       z-index: -1;
//       a {
//         font-size: 1rem;
//       }
//     }
//     .menu-links {
//       display: none;

//       &.show {
//         display: block;
//       }

//       ul {
//         width: 65%;
//         background-color: #040233;
//         height: 100vh;
//         position: absolute;
//         top: 0;
//         left: 0;
//         display: block;
//         padding-top: 3.5rem;
//         overflow-x: hidden;
//         transition: all 1.5s ease;

//         a {
//           font-size: 1rem;
//           color: $bodyTxtColor;
//           display: block;
//           padding-bottom: 1rem;
//           transition: color 0.3s;

//           &:hover {
//             color: #818181;
//           }
//         }
//       }
//     }

//     .hamburger-btn {
//       cursor: pointer;
//       padding: 0.5rem;
//       border-radius: 5px;
//       background-color: $orange;
//       @include flexbox(absolute, center, space-around);
//       right: 1rem;
//       display: flex;
//       flex-direction: column;
//       width: 30px;
//       height: 25px;
//       transition: background-color 0.3s;

//       &:hover {
//         background-color: transparent;
//         border: 1px solid $orange;
//       }

//       .bar {
//         width: 100%;
//         height: 2px;
//         background-color: #e5e5e5;
//         transition: transform 0.4s, opacity 0.4s;
//       }

//       &.change .bar1 {
//         transform: translate(-3px, -1px) rotate(-45deg);
//       }

//       &.change .bar2 {
//         opacity: 1;
//         width: 15px;
//         transform: translateX(2px);
//       }

//       &.change .bar3 {
//         transform: translate(-3px, 1px) rotate(45deg);
//       }
//     }
//   }
// }

// nabar on phone
@mixin navbarPhone() {
  .nav-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0.8rem 0;
    margin-top: 1rem;

    li {
      padding: 0.2rem 2rem;
    }

    &.show {
      display: flex;
    }
  }
}

// homepage on phone
@mixin homePagePhone() {
  .home-page {
    height: unset;
    .hero {
      flex-direction: column;
      gap: 4rem;

      .hero-info {
        align-items: center;
        .hero-text-intro {
          h2 {
            font: {
              size: 1.6rem;
              weight: weight(bold);
            }
            h3 {
              font: {
                size: 1.02rem;
                weight: weight(medium);
              }
            }
          }
        }
        .hero-btns {
          flex-direction: column;
          width: 100%;
        }
        .wrapper {
          & .icon {
            height: 30px;
            width: 30px;
            line-height: 30px;
            margin: 0 3px;

            &:hover {
              width: 0;
              transform: scale(1.05);
            }
            i {
              font-size: 1rem;
            }
          }
        }
      }
      .hero-image {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

// homepage on tablet
@mixin homePageTablet() {
}

// about section on phone
@mixin aboutPhone() {
  .about-section {
    padding: $sectionPaddingPhone;

    .about-title {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .container {
      flex-direction: column;
      gap: 0;

      .about-img img {
        height: 200px;
        object: {
          fit: cover;
          position: 100% 25%;
        }
      }
      .about-info p {
        line-height: 1.3rem;
      }
    }
  }
}

@mixin aboutTablet() {
  .about-info {
    display: flex;
    flex-direction: column;
  }
}

@mixin skillsPhone() {
  .skills {
    padding: $sectionPaddingPhone;

    h2 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

// @mixin slideShowPhone() {
//   .gallery {
//     padding: 1.3rem;

//     .gallery-header {
//       h3 {
//         font-size: 1rem;
//       }
//     }
//     #image-gal-hr {
//       height: 0.3em;
//     }
//     .slideshow-container {
//       .slide {
//         img {
//           height: 200px;
//         }
//         .number {
//           padding: 4px 8px;
//           font-size: 0.7rem;
//         }
//       }
//       .prev,
//       .next {
//         // font-size: 2px;
//         padding: 8px;
//       }

//       .caption {
//         font-size: 0.8em;
//       }
//       .dots {
//         .dot {
//           width: 10px;
//           height: 10px;
//           margin: 4px 1px;
//         }
//       }
//     }
//   }
// }

// @mixin slideShowTablet() {
// }
@mixin projectPhone() {
  .project-section {
    padding: $sectionPaddingPhone;

    .projects-title {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .tabs {
      button {
        margin: 0.3rem;
        font-size: 0.9rem;
      }
    }
    .project-card {
      flex-direction: column;
      gap: 1rem;
    }
    .meta span {
      .project-card {
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 0.5rem;
  
        p {
          font-size: 0.8em;
        }
      }
      font-size: 0.8rem;
    }
  }
}

@mixin servicesPhone() {
  .services {
    padding: $sectionPaddingPhone;

    .services-container {
      .services-header h2 {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    .services-cta {
      padding: 1rem 0;
      flex-direction: column;

      h3 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.8em;
      }
      .cheap,
      .quality,
      .online-booking {
        padding: 1rem 0;

        img {
          width: 85px;
          height: 85px;
        }
      }
    }
    .My-services {
      flex-direction: column;

      .image {
        .service-description {
          h3 {
            font-size: 1rem;
          }
          p {
            font-size: 0.8em;
          }
        }
        margin-bottom: 2rem;
      }
    }
  }
}

// services section on Tablet
@mixin servicesTablet() {
}

// @mixin testimonialPhone() {
//   .Testimonials {
//     padding: 1.5rem 1rem;
//   }

//   .testimonials-header {
//     h2 {
//       font-size: 1rem;
//       padding: unset;
//     }
//   }

//   .testimonies {
//     display: flex;
//     flex-direction: column;
//     padding-bottom: unset;

//     .test {
//       p {
//         font-size: 0.8em;
//       }
//       margin-bottom: 1rem;

//       .user {
//         img {
//           width: 35px;
//           height: 35px;
//         }
//       }
//     }
//   }
// }

// tweet section on phone
@mixin tweetPhone() {
  .tweets {
    padding: $sectionPaddingPhone;

    .tweets-header h2 {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .tweets-header p {
      line-height: 1.3rem;
    }
  }
  .tweets-container {
    flex-direction: column;
    /* align-items: center; */
  }
}

// contact section on mobile phone
@mixin contactPhone() {
  .contact {
    padding: $sectionPaddingPhone;

    .contact-header {
      margin-bottom: 1rem;

      h2 {
        font-size: 1.2rem;
        font-weight: 600;
      }

      p {
        line-height: 1.3rem;
      }
    }
    .contact-section {
      flex-direction: column;

      .contact-address {
        line-height: 2rem;

        iframe {
          margin: 1rem 0;
          height: 200px;
        }
      }

      .contact-form {
        button[type="submit"] {
          width: 100%;
        }
        textarea {
          margin-top: 1rem;
          height: 150px;
        }
      }
    }
  }
}

// Footer section on phone
@mixin footerPhone() {
  footer {
    padding: $sectionPaddingPhone;

    .footer-content {
      text-align: center;
      flex-direction: column;
      margin: 1rem auto;
    }
  }
}
