@mixin sectionHeading() {
    font-size: 2.2rem;
    font-weight:bolder;
    text-align: center;
    margin-bottom: 1rem;
    // color: #0f172a;
    font-family: 'Roboto', sans-serif;

}

@mixin sectionHeadingMobile() {
    font-size: 1.4rem;
    font-weight: bolder;
}