// services section
.services {
  padding: $sectionPaddingDesktop;
  background-color: #040031;

  // Container for Services
  .services-container {
    text-align: center;

    // Header section
    .services-header h2 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
}

// Call-to-action section for services
.services-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .icon {
    border-radius: .9rem;
    background-color: #bfdef7;
    font-size: 3rem;
    padding: .5rem;
  }

  h3 {
    padding-bottom: 0.7rem;
    color: $orange;
  }

  // Individual service description item
  .service-description-item {
    flex-basis: 30%;
    text-align: center;

    img {
      border-radius: 50%;
    }

    h3 {
      margin-top: 1rem;
      font-size: 1rem;
    }

    p {
      margin-top: 0.5rem;
    }
  }
}

// List of services offered
.my-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .image {
    width: 100%;
    color: #fff;
    flex-basis: 18%;
    position: relative;
    margin: 0.5rem 0;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 7px;
    }

    .overlay {
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
      border-radius: 7px;
      transition: height 0.9s, opacity 0.5s;
      background: linear-gradient(rgba(0, 0, 0, 0.5), #0a0dc8);
    }

    .service-description {
      opacity: 0;
      transition: 1s;
      position: absolute;
      bottom: -15vh;
      left: 50%;
      width: 90%;
      text-align: center;
      transform: translateX(-50%);

      p {
        font-size: 0.9rem;
      }

      hr {
        width: 90%;
        height: 3px;
        border: none;
        margin: 5px auto;
        background-color: $orange;
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
      .service-description {
        opacity: 1;
        bottom: 5%;
      }
    }
  }
}
