@use "./variables" as v;
@use "./sectionHeading" as s;
@use "./responsive" as r;
.skills-section {
  padding: v.$sectionPaddingDesktop;
  text-align: center;
  background: hsl(240, 98%, 17%);

  h2 {
    @include s.sectionHeading;
  }

  .skills-tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: nowrap;
  }
  .tab-btn {
    background: transparent;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: bolder;
    color: v.$bodyTxtColor;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;

    &:hover {
      color: v.$orange;
    }

    &.active {
      background: v.$orange;
      color: white;

      &:hover {
        background: #ff6b00;
      }
    }
  }
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .skill-card {
      background-image: linear-gradient(to top, v.$orange 0%, #0707089c 70%);
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(97, 97, 97, 0.1);
      padding: 1.5rem;
      width: 180px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px) scale(1.05);
      }

      .skill-icon {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #3b82f6;
        cursor: pointer;
        font-size: 3rem; 
        font-weight: 900;
      }

      h4 {
        margin: 0.5rem 0;
        font-size: 1.3rem;
        color: v.$bodyTxtColor;
        font-weight: bolder;
      }

      .progress-bar {
        background: #e0e0e0;
        border-radius: 10px;
        height: 8px;
        margin: 1rem 0;
        overflow: hidden;

        .progress-fill {
          background: #40f74f;
          border-radius: 10px;
          height: 100%;
        }
      }
      .skill-level {
        font-weight: bold;
        color: #000000;
        font-weight: bolder;
      }
    }
  }
}

@media screen and (max-width: v.$mobile) {
  @include r.skillsPhone;
}
