.top-nav {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.1);
  box-shadow: 0 0 12px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);

  .top-navigation-links {
    @include flexbox(sticky, center, space-between);
    top: 0;
    padding: 0.5em 3.6rem;

    .logo {
      transition: all 0.3s ease;
      width: 15px;
      height: 5px;
      img {
        border-radius: 50%;
      }

      &:hover {
        // transform: scale(1.03);
        box-shadow: 10px 5px 25px $orange;
      }
    }
  }

  .menu-links {
    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;
        

    }
    .active {
      color: orange;
      // border-bottom: 0.16em solid orange;
    }
    a {
      color: $bodyTxtColor;
      position: relative;
      text-decoration: none;

      &::after {
        @include positioning(unset, -3px, 0, unset, absolute);
        content: "";
        height: 0.2em;
        transition: width 0.3s;
        background-color: orange;
        border-radius: 2em 2em 0 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
