// Tweets section
.tweets {
  padding: $sectionPaddingDesktop;
  background-color: #001e89a8;
  text-align: center;

  .tweets_header {
    text-align: center;
    margin-bottom: 2rem;
  }
  .toggle-all-btn,
  .twitter-tweet a {
    @include button;
    margin: 1rem 0 2rem;
  }

  .toggle-all-btn:hover {
    background-color: #ffa500;
  }
}

.tweets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;

  .tweet-box {
    flex: 1 1 50px;
    max-width: 400px;
    background-color: #02024f;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid $orange;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 15px $orange;
    }
    .tweet-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $orange;
      transition: color 0.3s ease;

      &:hover {
        color: $primaryColor;
      }
      .tweet-title {
        font-size: 1rem;
        font-weight: 600;
      }
      /* Chevron icon animation */
      .chevron {
        transition: transform 0.3s ease;
      }
      
      &.rotate {
        transform: rotate(180deg);
      }
    }
    /* Collapssible animation */
    .collapsible {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.6s ease, opacity 0.4s ease;

      & .twitter-tweet a {
        text-decoration: none;
        color: #fff;

        &:hover {
          background-color: $orange;
        }
      }
    }
    .collapsible.open {
      max-height: 600px;
      opacity: 1;
    }
  }
}

// tweets section on mobile
@media screen and (max-width: $mobile) {
  @include tweetPhone();
}


