// variable declaration
$systemFont: Inter, Poppins, sans-serif;
$bodyFontFamily: "Yeseva One", "Josefin Sans";
$primaryBodyFontFamily: "Comfortaa", serif;
$secondaryBodyFontFamily:
  "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
$sectionPaddingDesktop: 3rem;
$sectionPaddingTablet: 1rem 2.5rem;
$sectionPaddingPhone: 1rem 1.25rem;
$fontWeights: (
  "regular": 400,
  "medium": 500,
  "bold": 800,
  "ultra-bold": 900,
);
$smallMobile: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$largerDesktop: 1200px;
