//Import/use partials
//@use - alternative to @import and must be written before any other rules
@use "sass:math"; //for "math" operations e.g "math.div(300px, 960px) * 100%;" converts 300px into percentage based on a total width of 960px.
@import "./variables";
@import "./resets";
@import "./buttons"; //for reusable snippets
@import "./icons";
@import "./responsive";
@import "./functions";
@import "./display";
@import "./keyframesAnime";

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather&family=Poppins:wght@100;200;300;400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);
@import "./home-page";
// @import "./image-slideshow";
@import "./services";
// @import "./testimonials";
@import "./about";
// @import "./faq";
@import "./tweets";
@import "./contact";
@import "./footer"
